<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
 <div class="row pt-3">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Редактирование инцидента
            </div>
            <div class="card-body">
                <form th:action="@{/updateAccident}" method="POST" th:object="${accident}">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input type="text" class="form-control" name="name" id="name" th:field="*{name}">
                    </div>
                    <input type="hidden" name="text" th:field="*{text}"/>
                    <input type="hidden" name="address" th:field="*{address}"/>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>